/* setting color variables to call to in future */
:root {
    --conifer: #7cde4b;
    --matisse: #1e569b;
    --jewel: #67ca99;
    --gin: #e0eae4;
    --border-bottom: 5px solid #67ca99;
    --border-left: 5px solid #67ca99;
}

/* setting main color and background color */
::selection {
    background-color: var(--gin);
    color: var(--matisse);

}

html {
    /* seting 1rem to 10px for easier font size value calculations */
    font-size: 62.5%;
}

/* styling main elements of the page */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--matisse);

    background-color: var(--gin);
    /* background-color: #cfe7cd;
    opacity: 1;
    background-image: linear-gradient(30deg, #e0eae4 12%, transparent 12.5%, transparent 87%, #e0eae4 87.5%, #e0eae4), linear-gradient(150deg, #e0eae4 12%, transparent 12.5%, transparent 87%, #e0eae4 87.5%, #e0eae4), linear-gradient(30deg, #e0eae4 12%, transparent 12.5%, transparent 87%, #e0eae4 87.5%, #e0eae4), linear-gradient(150deg, #e0eae4 12%, transparent 12.5%, transparent 87%, #e0eae4 87.5%, #e0eae4), linear-gradient(60deg, #e0eae477 25%, transparent 25.5%, transparent 75%, #e0eae477 75%, #e0eae477), linear-gradient(60deg, #e0eae477 25%, transparent 25.5%, transparent 75%, #e0eae477 75%, #e0eae477);
    background-size: 48px 84px;
    background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px; */
}

a {
    color: white;
}

a:active {
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: 1000;
    color: var(--gin);
    display: inline-block;
    text-shadow: 1px 1px black;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    color: rgb(231, 229, 95);
    text-shadow: 1px 1px gray;
    border-right: 5px solid var(--jewel);
    margin-right: 1rem;
    padding-right: 1rem;
}

h3 {
    font-size: 3.0rem;
    text-shadow: 1px 1px black;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2.0rem;
}

p {
    margin-bottom: 1rem;
}


/* styling the <header section> */
header {
    margin: 0 auto;
    padding: 1rem;
    height: 55rem;
    width: 100%;
    background-image: url("../images/dushore-cabin.jpg");
    background-size: cover;
    background-attachment: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    font-display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.directions {
    font-display: none;
    display: flex;
    flex-wrap: wrap;
    color: var(--gin);

}

a:link {
    text-decoration: none;
}

#link1 {
    padding: 2rem 2rem .5rem .5rem;
    font-weight: bold;
    color: var(--gin)
}

#link2 {
    padding: 2rem 2rem .5rem .5rem;
    font-weight: bold;
}

#link3 {
    padding: 2rem 2rem .5rem .5rem;
    font-weight: bold;
}




/* styles for the 'About Me' section */
.about_me {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-top: 5px solid var(--jewel);
}

.generic {
    float: left;
    width: 50%;
    padding: .5rem;
}

.about_me::after {
    content: "";
    clear: both;
    /* display: table; */
}

/* styles for headshot image */
#headshot {
    border-style: solid;
    border-width: 5px 8px 8px 5px;
    border-color: var(--jewel);

    border-radius: 2rem;
    margin-top: .5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 3rem;
    float: left;
}
#write-up {
    margin-right: 4.5rem;
    max-width: 66%;
}


/* styles for the 'Work' section */
.work-projects {
    display: flex;
    /* max-width: 100%; */
    border-top: 5px solid var(--jewel);
    

}


#about-me-title {
    min-width: 20%;
}


.project-blocks:hover {
    opacity: 50%;
}



.project-windows {
    float: left;
    padding: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

}

.project-windows > * {
    padding: 10px;
    flex: 1 1 160px;
  }

.project-blocks {
   
    /* border; */
    border: 5px 8px 8px 5px;
    border-style: solid;
    border-color: var(--jewel);
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 5px;
    
} 
.section-content-titles {
    width: 25%;
}

.block-header {
    color: var(--gin);
    text-align: center;
    margin-top: 2rem;
}

/* work section image styles */

#main-work-project {
    background: url(../images/horiseon-screencap.jpg);
    background-size: cover;
    height: 25rem;
    width: 500px;
    
    
}
/* 
 .secondary-projects {
    display: flex;
    flex-wrap: wrap;
}

.secondary-projects > * {
    flex: 1 1 160px 
}  */

#work-project-b {
    background: url(../images/mini2_screencap_crop.png);
    background-size: cover;
    height: 15rem;   
}

#work-project-c {
    background: url(../images/cosmos1.jfif);
    background-size: cover;  
}

#work-project-d {
    background: url(../images/cosmos1.jfif);
    background-size: cover;
  
    
    
}

#work-project-e {
    background: url(../images/cosmos1.jfif);
    background-size: cover;
   
   
}

/* Styles for the 'Contact' Section */

.contact-info {
    border-top: 5px solid var(--jewel);
    border-bottom: 5px solid var(--jewel);
    font-display: none;
    display: flex;
    flex-wrap: nowrap;
    
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#email {
    padding: 2rem;
}

#github {
    padding: 2rem;
}

#phone {
    padding: 2rem;
}

/* setting media queries */

@media (min-width:64em) {
    .hero {
        background-size: cover;
        background-position: center;

    }
}